@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import "reset.css";
@import "components/statusBar.css";

/**components**/
@import "variables.css";
@import "components/navbar.css";
@import "components/screenHeader.css";
@import "components/user.css";
@import "components/horizental.css";
@import "components/menu.css";

/**screens**/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}
