@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Sigmar&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-family: "Open Sans", sans-serif; */
  margin: 0px;
}

.screen {
  width: 300px;
  height: 600px;
  border: 3px solid #06c4ab;
  padding: 20px;
}

.header {
  position: relative;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn--close {
  position: absolute;
  top: 45px;
  left: 10px;
  font-size: 30px;
  font-family: "Sigmar", cursive;
}

.header__btn--title {
  text-align: center;
  font-size: 25px;
  font-family: "Sigmar", cursive;
}

.main {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.profileBox {
  display: flex;
  flex-direction: row;
}

.profileBox__img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: #ffbd11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-image {
  font-size: 30px;
  color: white;
}

.profileBox__text {
  width: 200px;
  height: 80px;
  padding: 5px 10px;
}

.profileBox__text--songTitle {
  font-size: 35px;
  font-family: "Sigmar", cursive;
  line-height: 35px;
}

.profileBox__text--name {
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin: 30px 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border: 2px solid black;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  border-width: 1px 2px 5px 2px;
}

.round {
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-width: 1px 2px 5px 2px;
  font-size: 20px;
  font-weight: bold;
}

li {
  list-style: none;
  padding: 10px 5px;
}
