#chat--screen {
  background-color: var(--purple1);
  height: 130vh;
  overflow-y: auto;
}

#chat--screen .statusBar__chat,
#chat--screen .screenHeader__chat {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

#chat--screen .statusBar__chat {
  height: 50px;
}

#chat--screen .screenHeader__chat {
  top: 50px;
}

.main-chat {
  padding-top: 130px;
  display: flex;
  justify-content: center;
}

@keyframes chatScreenScrollAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.main-chat {
  transform: translateY(50px);
  opacity: 0;
  animation: chatScreenScrollAni 1s ease-in-out forwards;
}

.main__screen--friendChat--info:nth-child(1) {
  animation-delay: 0.2s;
}

.main__screen--myChat:nth-child(1) {
  animation-delay: 0.4s;
}

.main__screen--friendChat--info:nth-child(2) {
  animation-delay: 0.6s;
}

.main__screen--myChat:nth-child(2) {
  animation-delay: 0.8s;
}

.main__screen--friendChat--info:nth-child(3) {
  animation-delay: 1s;
}

.main__screen--myChat:nth-child(3) {
  animation-delay: 1.2s;
}

.main__screen--friendChat--info:nth-child(4) {
  animation-delay: 1.4s;
}

.main__screen--myChat:nth-child(4) {
  animation-delay: 1.6s;
}

.main__screen--friendChat--info:nth-child(5) {
  animation-delay: 1.7s;
}

.main__screen--time--stamp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  background-color: var(--purple);
  color: white;
}

.main__screen--friendChat {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main__screen--friendChat--info {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main__screen--friendChat--photo {
  width: 15%;
}

.main__screen--friendChat--photo img {
  width: 60px;
  height: 60px;
  border-radius: 28px;
}

.main__screen--friendChat--name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.main__screen--friendChat--content {
  background-color: white;
  padding: 7px;
  border-radius: 0 20px 20px 20px;
  position: relative;
}

.main__screen--myChat--content {
  background-color: #fee500;
  padding: 7px;
  border-radius: 20px 20px 0px 20px;
  position: relative;
}

.main__screen--myChat {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__screen--friendsChat--time {
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 5px;
}

.main__screen--myChat--time {
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

.main__screen--inputBtns {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--purple);
}

.main__screen--inputBtns--plus .fa-plus-square {
  width: 50px;
  height: 50px;
}

.main__screen--inputBtns .fa-plus-square {
  width: 5%;
  padding-left: 20px;
  font-size: 28px;
  color: white;
}

.main__screen--inputBtns input {
  width: 95%;
  height: 35px;
  margin: 0px 10px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  position: relative;
}

.main__screen--inputBtns input::placeholder {
  color: var(--purple);
}

.main__screen--inputBtns .fa-smile {
  position: absolute;
  top: 14px;
  right: 50px;
  font-size: 30px;
  color: var(--grey3);
}

.main__screen--inputBtns--btn {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: #fee500;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}
