#friends--screen .statusBar {
  height: 50px;
}

#friends--screen .screenHeader {
  top: 50px;
}

.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--purple0);
}

.guide .fa-info-circle,
.guid .fa-chevron-right {
  color: var(--purple1);
}

.guide__desc {
  width: 200px;
  text-align: center;
}

.myFriends__title {
  padding: 10px 30px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--purple);
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 2s;
}
