.settings__container--func {
  height: 60px;
  padding: 10px 30px;
  margin: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.settings__container--func--left {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.settings__container--func--icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  display: flex;
  flex-direction: center;
  align-items: center;
}

.settings__container--func--name {
  font-size: 20px;
  font-weight: bold;
}

.settings__container--func--right {
  color: var(--grey3);
}

.settings__container--func--new {
  background-color: var(--red);
  color: white;
  padding: 3px;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 14px;
}
