.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;
}

.menu_long {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
}

.menu__function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.menu__function--icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__function--icon img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.menu__function--name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  text-align: center;
}
