.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--purple);
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.nav li {
  cursor: pointer;
  opacity: 0.8;
}

.nav li:hover {
  opacity: 1;
}

.nav li:nth-child(2) {
  cursor: pointer;
  opacity: 0.8;
  position: relative;
}

.nav__notification {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--red);
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  top: -8px;
  right: -7px;
  line-height: 17px;
}

.nav li:nth-child(4) {
  position: relative;
}

.nav__dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--red);
  top: -5px;
  right: -7px;
}
