.screenHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0px 20px;
}

.screenHeader__chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
  background-color: var(--purple);
  color: white;
}

.screenHeader__title {
  width: 70%;
  font-size: 30px;
  font-weight: bold;
}

.screenHeader__menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-size: 20px;
}

.screenHeader__menu {
  width: 33%;
  text-align: right;
}

.screenHeader__title--settings {
  font-size: 30px;
  font-weight: bold;
}
