.myProfile {
  height: 140px;
  margin: 10px 30px;
  display: flex;
  align-items: center;
}

.myProfile img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid var(--grey2);
}

.myProfile__name {
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
}

.myProfile__number {
  padding-left: 20px;
}

.myProfile__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.myProfile__more--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myFriends__list {
  height: 70px;
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myFriends__list--grid {
  height: 70px;
  margin: 10px 30px;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 35px 35px;
}

.myFriends__list img {
  width: 60px;
  height: 60px;
}

.myFriends__list--grid img {
  width: 60px;
  height: 60px;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myFriends__list--name {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.myFriends__list--chat {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myFriends__list--time {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.myFriends__list--bubble {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
